@import 'variables';

vm-autocomplete {
  flex: 1;
  display: flex;
  justify-content: center;
  form {
    width: 65vw;
    margin-top: $content-padding;
    padding: 0 $content-padding 0 $content-padding;
    mat-form-field {
      width: 100%;
    }
  }

  @media (min-width: 576px) {
    form {
      width: 35vw;
    }
  }
}
